

.active {
    background-color: $secondary-color;
}

.mr-sm-top {
    margin-top: 1rem;
}

.mr-md-top {
    margin-top: 2rem;
}

.mr-lg-top {
    margin-top: 3rem;
}

.mr-sm-bottom {
    margin-bottom: 1rem;
}

.inline{
    display: inline;
}